<link rel="stylesheet" href="/assets/css_files/Header-Footer.css">
<style>
  .footer-menu li{
    margin-left: 10px;
  }
  .copyright{
    display: flex;
    justify-content: center;
  }
 
</style>
<footer>
    <div class="footer-content">
      <ul class="footer-menu" style="flex-direction: row;display: flex;">
        <li><a href="/"><i class="fa-solid fa-house"></i> Home</a></li>
      </ul>
      <div class="copyright">
        &copy; 2023  Developed By <span style="color: rgb(196, 182, 182);margin-left: 5px;"> Saurabh Dixit</span>
      </div>
      <div class="footer-social">
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-envelope"></i></a>
      </div>
    </div>
</footer>