<title><%= PageTitle %></title>
<link rel="stylesheet" href="/assets/css_files/About.css"/>


<% if (message) { %>
<div class="popup-form" id="myForm">
  <div class="popup-content">
    <div class="close-button" onclick="closeForm()">&times;</div>
    <h2><%= message %></h2>
  </div>
</div>
<% } %>


<section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">About Us</h1>
        <h2 class="subtitle">We are a creative web design agency</h2>
      </div>
    </div>
</section>
<div class="container" style="margin-bottom: 20px;font-size: 13px;">
    <div class="columns" style="margin-top: -5rem;">
      <div class="column is-half">
        <div class="image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSz3FXhD-3-p733odHKZbkVg3OPdgglDP39DQ&usqp=CAU" alt="Company Image">
        </div>
      </div>
      <div class="column is-half">
        <p class="subtitle">Learn about our mission and values</p>

      <div class="content">
        <p>
          At Weather App, we believe that everyone should have access to accurate and up-to-date weather information, no matter where they are. Our mission is to provide a simple and user-friendly platform that makes it easy for people to stay informed about the weather conditions in their area. Whether you're planning a weekend trip or just need to know if you should bring an umbrella to work, we've got you covered.
        </p>
        <p>
          Our team is made up of passionate developers and weather enthusiasts who are dedicated to providing the best possible experience for our users. We value transparency, reliability, and accessibility, and we're always looking for ways to improve our app and make it even more useful for our users.
        </p>
      </div>
      </div>
    </div>
</div>
